#early-access-success-view {
	display:none;
}

@media (min-width: 500px) {

	.main-hero{
		float:right;
	}
	
  }

	.input-group {
    margin: 20px auto;
    width: 100%;
}
input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 70%;
		height: 50px;
		border-radius:0 0 0 4px;
}
button.btn {
    width: 20%;
		height: 50px;
		border-radius:0 4px 0 0;
		background-color: #222222;
		font-size:17px;
		text-transform: none;
}

input[name='email']{
	text-align: left;
	font-size:15px;

	text-transform: none;
}

button[type='submit']{
	background-color:#5b5b5b;
}

.header-text{
	text-rendering: optimizeLegibility;
  font: 500 16px/1.7 Graphik,sans-serif;
	-webkit-font-smoothing: antialiased;
}


/* #about  {
	text-align:center;
	border-top:1px solid #ccc;
}
#about .about-text {
	font-size:16px;
	color:#555;
} */

.graphic {
	top: 0;
	left: 0;
	display: inline-block;
	position: relative;
}
.graphic img {
	width: 100%;
}

.steps {
	overflow:auto;
	margin: 0 -25px 20px 0;
	padding:0;
}
.steps .circular-number {
	float:left;
	width:60px;
	text-align:center;
}
.circle-number i.fa, .circle-number a {
	color:#777;
}
.circle-number a {
	font-weight: 400;
}
.howitworks-content {
	float:right;
	width:calc(100% - 80px);
}
.howitworks-content h2 {
	font-size: 28px;
	font-weight:400;
	margin-bottom: 30px;
}

.other-features {
	border-bottom:1px solid #ddd;
	margin-bottom:40px;
	margin-top:30px;
}
#nexme {
	color:#222222;
	text-align:center;
}
#nexme .section-heading hr, #team .section-heading hr {
	border-color:#777;
}
#nexme p {
	margin-bottom:50px;
}
#nexme .buttons a {
	margin:7px;
}

.nexmesection p{
	font: 500 Graphik,sans-serif;

	font-size: 40px;
}

.description-text{
	text-align:center;
	font-size: 18px;
	color: #777777;
}

.customer-icons{
	width:60%;
}


.section-heading {
	margin-bottom:50px;
}

#buyers{
	border-top: 1px solid #ccc;
	background: #fff url('../img/brillant.png');
}

.steps{
	margin-bottom:30px;
}

.steps h3{
	margin-top:15px;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  /* height: auto; */
}

#sellers{
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),url('../img/nexmephone6.png');

  background-position: no-repeat center top;

	background-size: cover;
	
	color:#ffffff;


}

#sellers .page-header, #sellers .section-heading hr {
	border-color:#2685e8;
}
#sellers .circle-number i, #sellers .circle-number a {
	color:white;
}


/* #sellers .howitworks-content .text-muted {
	color:#f2a7b1;
} */
/* #sellers .btn-primary {
	background:#fff;
	color:#D52941;
	outline:0;
} */
/* #sellers .btn-primary:hover, #sellers .btn-primary:active, #sellers .btn-primary:active:focus{
  background-color: #ad1b30;
  border-color:#ad1b30;
	color:#fff;
  outline:0;
} */

.architecture .card {
	height: 409px;
}

.card {
  position: relative;
	background:#fff;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover, .card-2:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  padding: 100 0 10px 25px;
  color: #fff;
	text-align: left;
	top: 0;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 80px 0;
  text-align: center;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
}

.c-section1 h2{
	font-size:30px;
}

.c-section1 p{
	font-size:18px;
}

.real-estate-img{
	-webkit-filter:brightness(50%);
    -moz-filter:brightness(50%);
	filter:brightness(75%);
	
}

.carousel-caption{
	background:transparent;
}

#consumer{
	background: #fff url('../img/brillant.png');
}


.carousel-fade .carousel-inner .item {
	opacity: 0;
	transition-property: opacity;
	  overflow:hidden;
  }
  .item.active img {
	  transition: transform 5000ms linear 0s;
	  /* This should be based on your carousel setting. For bs, it should be 5second*/
	  transform: scale(1.05, 1.05);
  }
  .carousel-fade .carousel-inner .active {
	opacity: 1;
  }
  
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
  }
  
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
  }
  
  .carousel-fade .carousel-control {
	z-index: 2;
	
  }
  
  @media all and (transform-3d), (-webkit-transform-3d) {
	  .carousel-fade .carousel-inner > .item.next,
	  .carousel-fade .carousel-inner > .item.active.right {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	  }
	  .carousel-fade .carousel-inner > .item.prev,
	  .carousel-fade .carousel-inner > .item.active.left {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	  }
	  .carousel-fade .carousel-inner > .item.next.left,
	  .carousel-fade .carousel-inner > .item.prev.right,
	  .carousel-fade .carousel-inner > .item.active {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	  }
  }


#mortgage-lenders{
	border-top: 1px solid #ccc;

	background: #fff url('../img/brillant.png');
}

.reviews-carousel{
	width:65%;
	display:inline-block;
}

.section-control{
	color:#242424;
}

.review-indicators{
	padding: 0 25px 0 0;
}

.videos{
	background: #fff url('../img/brillant.png');
}

video{
	margin-bottom:10%;
}

.partners{
	background-color:#5b5b5b;
}


