
html {
  font-size: 16px;
}
.sec-portfolio{
  padding:0px;
}

.container{
    color: navy
}

.col-sm-4{
  padding-left:40px;
  padding-right: 0px;
}

.skills{
    max-height:90px;
    max-width:90px;
    border-radius: 10px;
    padding-right:0px;
}

.profile-pic {
    height: 282px;
    width: 202px;
    border-radius: 30px;
    position: relative;
}

body {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
}

.navbar a,
.sec-about p {
  text-align: center;
}

.navbar a { 
  font-size: 16px;
}

.navbar .fa-external-link {
  font-size: 10px;
}

.main-heading {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.sec-about a {
  text-decoration: underline;
}

.sec-about img,
.sec-about p{
  display:inline-block;
  vertical-align: top;
  margin:0px;
}
.sec-about img{
  float:right;
  position:relative;
  margin-bottom:5%;
}


.sec-about p{
  float:right;
  position:relative;
  text-align:center;
  margin:2% 10% 0 0;
  font-size:20px;
}
.sec-about h1{
  margin: 0px
}


.sec-services{
    background: url(grassland.png) no-repeat center center;
    background-size: cover;
}

.sec-services h2,
.sec-services p {
  font-weight: 300;
  text-align: center;
}

.sec-contact .btn {
  text-transform: uppercase;
}
.sec-contact h3 {
    color: navy;
  text-align:center;
}

/*.soc-media-ul fa.fa-github::after{
    height:100px;
    width: 100px;
}*/

.sec-contact{
    background: url(lake-hills-green-mountain-1.jpg) no-repeat center center;
    background-size: cover;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

section {
  padding: 5em 0;
}

footer {
  padding: 3em 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}

.sec-portfolio .row {
  margin-bottom: 3em;
}

.sec-portfolio img {
  max-width: 100%;
}

/*Header*/
.navbar-brand{
  float:left;
}
.navbar-default {
  background: #fff;
}

.navbar .fa-external-link {
  vertical-align: top;
}



/*Main*/

.sec-main {
  position: relative;
  height: 560px;
  background: url(https://subafrica.files.wordpress.com/2010/04/somalia-beach.jpg) no-repeat center center;
  background-size: cover;
}

.main-heading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 40px;
  color:navy;
}

/*Footer*/

.soc-media-ul {
  display: flex;
  justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
  margin-left: 1em;
}

.soc-media-ul a {
  display: block;
  padding: 0.5em .65rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 50%;
  border: 2px solid;

}
h4{
  text-align:center;
}
#link{
  color: white
}
